// Стили О компании

.description {
  height: 50%;
  display: flex;
  padding: 45px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px;
    gap: 45px;
  }

  &__title {
    @include fontSetting(34px, 36px, 700);
    color: $colorGray;
    margin: 0;
  }

  &__paragraph {
    @include fontSetting(22px, 24px, 400);
    color: $colorGray;
    margin: 0;
  }

  &__image {
    @include widthHeight(740px, 450px);
    box-shadow: 15px 10px 30px $colorShadow;
    transition: transform .3s ease-in-out;
    border-radius: 10px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__button {
    @include fontSetting(12px, 14px, 400);
    @include widthHeight(125px, 35px);
    @extend %buttonDefault;
    background-color: $colorRed;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 0.7;
      box-shadow: 10px 10px 20px $colorShadow;
    }
  }
}
