// Стили description
.description { // блок
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 45px 20px;

  &__container { // контейнер с текстом
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px;
    gap: 45px;
    flex: auto;
  }

  &__title { // h1
    @include fontSetting(34px, 36px, 700);
    color: $colorGray;
    margin: 0;
  }

  &__paragraph { // текст
    @include fontSetting(22px, 24px, 400);
    color: $colorGray;
    margin: 0;
  }

  &__image { // картинка
    @include widthHeight(740px, 450px);
    box-shadow: 15px 10px 30px $colorShadow;
    transition: transform .3s ease-in-out;
    border-radius: 10px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__button { // кнопка
    @include fontSetting(12px, 14px, 500);
    @include widthHeight(125px, 35px);
    @extend %buttonDefault;
    background-color: $colorRed;
    color: $colorWhite;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 0.7;
      box-shadow: 10px 10px 20px $colorShadow;
    }
  }
}

@include desktopMax { // 1780px
  .description {
    &__title {
      @include fontSetting(32px, 34px, 700);
    }

    &__paragraph {
      @include fontSetting(20px, 22px, 400);
    }

    &__image {
      @include widthHeight(700px, 410px);
    }
  }
}

@include desktopMin { // 1540px
  .description {
    &__container {
      gap: 35px;
    }

    &__title {
      @include fontSetting(28px, 30px, 700);
    }

    &__paragraph {
      @include fontSetting(16px, 18px, 400);
    }

    &__image {
      @include widthHeight(660px, 370px);
    }
  }
}


@include laptopMax { // 1390px
  .description {
    &__container {
        gap: 30px;
    }

    &__title {
      @include fontSetting(22px, 24px, 700);
    }

    &__paragraph {
      @include fontSetting(14px, 16px, 400);
    }

    &__image {
      @include widthHeight(580px, 290px);
    }

    &__button {
      @include fontSetting(10px, 12px, 500);
      @include widthHeight(115px, 30px);
    }
  }
}

@include laptopMin { // 1140px
  .description {
    &__container {
      gap: 25px;
    }

    &__title {
      @include fontSetting(16px, 18px, 700);
    }

    &__paragraph {
      @include fontSetting(12px, 14px, 400);
    }

    &__image {
      @include widthHeight(580px, 250px);
    }

    &__button {
      @include widthHeight(100px, 25px);
      @include fontSetting(8px, 10px, 500);
    }
  }
}

@include tablet { // 930px
  .description{
    position: relative;
    flex-direction: column-reverse;
    align-items: center;

    &__container {
      position: absolute;
      max-width: 480px;
      top: 125px;
      z-index: 1;
    }

    &__title {
      color: $colorWhite;
    }

    &__paragraph {
      color: $colorWhite;
    }

    &__image {
      @include widthHeight(570px, 340px);
      box-shadow: 5px 10px 30px $colorShadow;
      filter: blur(2px);

      &:hover {
        transform: none;
      }
    }
  }
}

@include phoneMax { // 730px
  .description {
    &__container {
      max-width: 360px;
      top: 100px;
    }

    &__image {
      @include widthHeight(480px, 300px);
    }
  }
}

@include phoneMed { // 620px
  .description {
    padding: 20px 5px;

    &__container {
      top: 45px;
      max-width: 320px;
      gap: 20px;
    }

    &__image {
      @include widthHeight(380px, 250px);
    }

    &__button {
      @include widthHeight(70px, 20px);
      @include fontSetting(6px, 8px, 500);
    }
  }
}

@include phoneMin { // 435px
  .description {
    &__container {
      max-width: 250px;
      top: 45px;
      gap: 15px;
    }

    &__title {
      @include fontSetting(12px, 14px, 700);
    }

    &__paragraph {
      @include fontSetting(8px, 10px, 400);
    }

    &__image {
      @include widthHeight(280px, 180px);
    }
  }
}
