// Файл с константами стилей
$backgroundDefault: #ffffff; // цвет бэкграунда основа
$defaultFont: 'Roboto', sans-serif; // дефолтный шрифит
$colorGray: #2e2e2e;
$colorRed: #D30000;
$colorShadow: #545454;

// фото
$logo: url('../../public/logo1.png');
$imageDescription: url('../../public/description.jpg');
