// Файл с константами стилей
$backgroundDefault: #ffffff; // цвет бэкграунда основа
$backgroundGrey: #f2f2f2;
$defaultFont: 'Roboto', sans-serif; // дефолтный шрифит
$colorGray: #2e2e2e;
$colorRed: #D30000;
$colorShadow: #545454;
$colorLightGrey: #bdbdbd;
