// Файл с константами стилей
$backgroundDefault: #ffffff; // цвет бэкграунда основа
$backgroundGrey: #f2f2f2;
$defaultFont: 'Roboto', sans-serif; // дефолтный шрифит
$colorGray: #2e2e2e;
$colorRed: #D30000;
$colorShadow: #545454;
$colorLightGrey: #bdbdbd;
$colorWhite: #ffffff;

// media breakpoints
$breakpoint_desktopMax: 1780px;
$breakpoint_desktopMin: 1540px;
$breakpoint_laptopMax: 1390px;
$breakpoint_laptopMin: 1140px;
$breakpoint_tablet: 930px;
$breakpoint_phoneMax: 730px;
$breakpoint_phoneMed: 620px;
$breakpoint_phoneMin : 435px;
