// Стили Header

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $colorGray;
  padding: 0 15px 15px;

  &__container {
    display: flex;
    align-items: center;
    max-width: 170px;
  }

  &__title {
    @include fontSetting(23px, 25px, 700);
    color: $colorGray;
    margin: 0 10px;
  }

  &__logo {
    @include widthHeight(64px, 64px);
    border-radius: 50%;
    object-fit: cover;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    flex: 1;
  }

  &__link {
    @include fontSetting(18px, 20px, 400);
    color: $colorGray;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 0.7;
      transform: translateY(-2px);
      text-decoration: underline $colorGray;
      font-weight: 500;
    }
  }
}
